#main-sideBar{
  height: 100%;
  width: 300px;
  float: left;
  color: $sideFontColor;
  background-color: #253141;
  .user{
    height: 15%;
    width: 100%;
    padding: 0 20px;
    background-color: #000;
    &-inner{
      height: 100%;
      width: 100%;
      display: table;
      &__name__text{
        width: 50%;
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
      }
      &__name__edit{
        width: 50%;
        display: table-cell;
        vertical-align: middle;
        text-align: right;
      }
    }
  }
  .room{
    width: 100%;
    word-wrap: break-word;
    padding: 20px;
    color: $sideFontColor;
    &:hover{
      opacity: 0.8;
    }
    &-desc{
      &__name{
        font-size: 15px;
        margin: 0 0 5px 0;
      }
      &__message{
        font-size: 11px;
      }
    }
  }
  a{
    text-decoration: none;
  }
}
