#main-chatBox{
  height: 100%;
  width: calc( 100vw - 300px );
  .info{
    height: 15%;
    width: 100%;
    padding: 0 40px;
    border: solid #eee 1px;
    &-desc{
      float: left;
      &__name{
        font-size: 20px;
        color: #333;
        margin: 35px 0 15px 0;
      }
      &__members{
        font-size: 12px;
        color: #999;
        span{
          font-weight: bold;
        }
      }
    }
    &-edit{
      display: table;
      float: right;
      height: 40px;
      color: $skyBlue;
      margin: 28px 0 0 0;
      padding: 0 20px;
      border: solid $skyBlue 1px;
      span{
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }
  }
  .timeline{
    height: calc( 100vh - 15% - 90px );
    width: 100%;
    padding: 46px 0 0 0;
    overflow-y: scroll;
    &-message{
      width: 100%;
      margin: 0 0 40px 0;
      padding: 0 40px;
      &__user{
        display: table;
        &__name{
          display: table-cell;
          font-size: 16px;
          font-weight: bold;
          color: $lightGray;
        }
        &__date{
          display: table-cell;
          font-size: 12px;
          color: #999;
        }
      }
      &__text{
        font-size: 14px;
        color: $lightGray;
      }
    }
  }
  .input{
    height: 90px;
    width: 100%;
    background-color: #B8C3C7;
    padding: 20px 40px;
    &-area{
      display: table;
      float: left;
      height: 50px;
      width: calc(100% - 100px - 15px);
      background-color: #fff;
      padding: 0 10px;
      &__text{
        height: 50px;
        width: 100%;
        display: table-cell;
        vertical-align: middle;
        font-size: 16px;
        color: $lightGray;
        border: none;
      }
      &__file{
        width: 20px;
        display: table-cell;
        vertical-align: middle;
      }
    }
    &-send{
      float: left;
      display: table;
      height: 50px;
      width: 100px;
      text-decoration: none;
      background-color: $skyBlue;
      margin: 0 0 0 15px;
      padding: 0 10px;
    }
  }
}
