#main-sideBar
  .user
    .user-inner
      .user-inner__name__text
        takeshu
      .user-inner__name__edit
        = fa_icon "pencil-square-o"
        = fa_icon "cog"
  .room
    .room-desc
      .room-desc__name
        hogehoge_room
      .room-desc__message
        hello!今日もいい天気だねー！
    .room-desc
      .room-desc__name
        hogehoge_room
      .room-desc__message
        hello!今日もいい天気だねー！
    .room-desc
      .room-desc__name
        hogehoge_room
      .room-desc__message
